<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panda.setting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:resizeable="true" >
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/setting"
        android:label="@string/app_name"
        android:name="com.panda.setting.application.SettingApplication">
        <activity
            android:name="com.panda.setting.ClientSettingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.panda.setting.ModifyOrAddActivity"></activity>
            <activity
            android:name="com.panda.codescan.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
        <provider android:name="com.panda.setting.SettingContentProvider" android:authorities="com.panda.setting"
            android:exported="true">              
        </provider>    
    </application>

</manifest>